{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'img/Logo/Logo-pequeno.ico' %}" type="image/x-icon">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body class="bg-dark" id="contenedorPrincipal-1">
    <div class="container" style="margin-top: 56px">
        {% block content %} {% endblock %}
    </div>

</body>

</html>