{% extends 'base.html'%}

{% block title %}Perfil{% endblock %}

{% block content %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
<!-- <div class="row justify-content-center">
    <div class="col-auto text-light ">
        <h1><b>User profile</b></h1>
    </div>
</div> -->
<div class="p-3 p-md-0">
    <div class="row border p-5 rounded flex-column flex-md-row">
        <div class="col-12 col-md-3 text-center text-md-center">
            <img class="img-fluid rounded-circle mb-4" src="{{ user.image.url }}" width="250" height="250">
            <a class="btn btn-outline-primary" href="{% url 'Users:EditUser' user.id %}">
                Editar perfil
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
            </a>
        </div>
        <div
            class="col-12 col-md-9 mt-3 mt-md-0 d-flex flex-column justify-content-center align-items-center text-center">
            <div class="row  border rounded align-items-center p-1">
                <h3 class="text-light mt-2">
                    <b>{{ user.username }}</b>
                    <span class="badge text-bg-primary">{{ user.UserRol }}</span>
                </h3>
            </div>
            <div class="row align-items-center mt-2">
                <div class="row mt-2 text-start text-md-start text-light">
                    <h5><b>Nombre:</b> {{ user.first_name }} {{ user.last_name }}</h5>
                </div>
                <div class="row mt-2 text-start text-md-start text-light">
                    <h5><b>Correo electrónico:</b> {{ user.email }}</h5>
                </div>
                <div class="row mt-2 text-start text-md-start text-light">
                    <h5><b>Teléfono:</b> {{ user.phone }}</h5>
                </div>
                <div class="row mt-2 text-start text-md-start text-light">
                    <h5>Te uniste {{ user.date_joined }}</h5>
                </div>
            </div>
        </div>

    </div>
    <div class="row border p-5 my-4 rounded">
        <h3 class="text-light fw-bold text-md-center">Estilo de aprendizaje</h3>
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center">

                <div class="card shadow rounded-5" style="width: 24rem;">
                    <img src="{% url 'App:GraficarRadar' %}" class="card-img-top rounded-5 img-fluid"
                        alt="Gráfico de Radar de Estilos de Aprendizaje">
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-primary">Auditivo</h5>
                        <hr>
                        <p class="card-text">Resultados:</br>Visual: 10</br>Auditivo: 15</br>Kinestésico: 30</p>
                    </div>
                    <p class="card-text text-center"><small class="text-body-secondary">Hace 3 minutos</small></p>
                </div>
            </div>
            <div class="col-md-8  text-bg-light p-4 rounded-5">
                <h4 class="fw-bold text-primary">Descripción del Estilo de Aprendizaje Auditivo</h4>
                <p>El estilo de aprendizaje auditivo es ideal para aquellas personas que aprenden mejor escuchando. Los
                    individuos auditivos son más receptivos a la información presentada verbalmente, ya sea a través de
                    explicaciones, conversaciones o grabaciones. Tienen la habilidad de captar y retener detalles que
                    escuchan, lo que les permite comprender y recordar conceptos con facilidad.</p>
                <p>Estas personas suelen preferir explicaciones orales a las escritas, y les resulta más efectivo
                    estudiar en un entorno donde puedan escuchar información. Además, disfrutan participar en
                    discusiones y debates, donde pueden procesar la información mientras hablan y escuchan a otros. La
                    música suave o los sonidos de fondo también pueden ayudarles a concentrarse.</p>
                <p>Algunas características adicionales incluyen la tendencia a recordar nombres mejor que rostros, la
                    capacidad de seguir instrucciones verbales con facilidad y la preferencia por actividades grupales
                    donde puedan intercambiar ideas de manera oral.</p>

            </div>
        </div>
        <hr>
        <div class="row mt-2 rounded-5 shadow text-bg-light p-4">

            <div class="col-12">
                <h4 class="fw-bold text-primary">Actividades Recomendadas para Mejorar el Estudio</h4>
                <ul>
                    <li><strong>Escuchar audiolibros y podcasts:</strong> El uso de recursos auditivos como audiolibros
                        y
                        podcasts permite a los aprendices auditivos reforzar el contenido que han aprendido de manera
                        efectiva.</li>
                    <li><strong>Grabar clases o explicaciones:</strong> Grabar las clases o sus propias explicaciones y
                        escucharlas durante el repaso puede ayudar a consolidar la información.</li>
                    <li><strong>Participar en discusiones en grupo:</strong> Unirse a grupos de estudio o debates donde
                        puedan hablar y escuchar activamente es una excelente manera de procesar y retener información.
                    </li>
                    <li><strong>Leer en voz alta:</strong> Leer el material de estudio en voz alta facilita la
                        memorización
                        y comprensión de los conceptos, aprovechando su habilidad auditiva.</li>
                    <li><strong>Utilizar técnicas de enseñanza:</strong> Explicar conceptos en voz alta a otros o hacer
                        simulacros de enseñanza refuerza su comprensión y retención del material.</li>
                    <li><strong>Incorporar música de fondo:</strong> Escuchar música suave mientras estudian puede
                        ayudar a
                        mantener la concentración y mejorar el rendimiento, aunque se debe evitar que sea una
                        distracción.
                    </li>
                    <li><strong>Uso de rimas o canciones:</strong> Crear rimas, canciones o frases pegajosas que ayuden
                        a
                        recordar la información clave puede ser una estrategia efectiva para este tipo de aprendices.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% endblock %}