{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <h1 class="text-center mt-5 text-primary animate__animated animate__jello"><b>¡Bienvenido a LearnIQ!</b></h1>
    <p class="text-center text-white"><b>¿Cúal es tu estilo de aprendizaje?...</b></p>

    <div class="p-3 p-md-0 animate__animated animate__backInUp">
        <div class="row border p-5  rounded flex-column flex-md-row">
            <iframe width="916" height="515" src="https://www.youtube.com/embed/A4KnrbHVyIA"
                title="Encuentra el método de estudio para ti según tu estilo de aprendizaje | Hábitos de estudio"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <a href="{% url 'App:AppTest' %}" class="btn btn-primary mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-fast-forward-fill" viewBox="0 0 16 16">
                    <path
                        d="M7.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696z" />
                    <path
                        d="M15.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C8.713 12.69 8 12.345 8 11.692V4.308c0-.653.713-.998 1.233-.696z" />
                </svg>
                ¡Comenzar la prueba!</a>
        </div>
    </div>

{% endblock %}