{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-3">
        <div class="card bg-dark">
            <div class="card-body">

            </div>
        </div>
        <div class="col-6">
            <div class="card bg-body-tertiary">
                <div class="card-body">
                    <h5 class="card-title">Get the test</h5>
                    <p class="card-text">Get the test to know your tipo de eso xd.</p>
                    <a href="{% url 'App:AppTest' %}" class="btn btn-primary">Get the test</a>
                </div>
            </div>
        </div>
    </div>
</div>


        {% endblock %}