body {
    font-family: 'Monsterrat', sans-serif;
    src: url(/LearnIQProyect/static/font/Montserrat/static/Montserrat-Thin.ttf);
    
}

#contenedorPrincipal-1 {
    background-image: url('../img/Fondo (2).png');
    background-size: cover;
    background-position: center;
}

#contenedorPrincipal-2 {
    background-image: url('../img/Fondo.png');
    background-size: cover;
    background-position: center;
}


/* Estilos para dispositivos móviles */
@media (max-width: 576px) {
    .LogoNavbar {
        content: url('../img/Logo/Logo pequeno.png');
    }
    body {
        font-size: 14px; /* Tamaño de fuente para dispositivos móviles */
    }
}

/* Estilos para tabletas */
@media (min-width: 577px) and (max-width: 991px) {
    .LogoNavbar {
        content: url('../img/Logo/Logo pequeno.png');
    }
    body {
        font-size: 16px; /* Tamaño de fuente para tabletas */
    }
}

/* Estilos para pantallas pequeñas */
@media (min-width: 992px) and (max-width: 1199px) {
    .LogoNavbar {
        content: url('../img/Logo/Logo principal alargado.png');
    }
    body {
        font-size: 16px; /* Tamaño de fuente para pantallas pequeñas */
    }
}

/* Estilos para pantallas medianas */
@media (min-width: 1200px) and (max-width: 1399px) {
    .LogoNavbar {
        content: url('../img/Logo/Logo principal alargado.png');
    }
    body {
        font-size: 16px; /* Tamaño de fuente para pantallas medianas */
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1400px) {
    .LogoNavbar {
        content: url('../img/Logo/Logo principal alargado.png');
    }
    body {
        font-size: 16px; /* Tamaño de fuente para pantallas grandes */
    }
}




/* Mostrar el texto para móviles solo en dispositivos móviles */
.logo-mobile {
    display: none;
}

@media (max-width: 991px) {
    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: inline-block;
        color: #28a745;
        font-size: 28px; 
        font-weight: bold; 
        margin-left: 0.5rem; 
    }
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.noDecoration {
    text-decoration: none;
}

.nomaspalcommit {
    display: none;
}




.brand-logo {
    width: 30rem;
    margin-left: 10px;
    border-radius: 10px;
    content: url('../img/Logo/Logo principal alargado.png');
}


/* Estilos para test */


#intro-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #343a40;
    color: white;
    z-index: 1000;
    transition: opacity 1s ease-in-out;
}



.intro-text {
    font-size: 2.5rem;
    animation: pulse 2s infinite;
}

.pulso {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.7; }
    100% { transform: scale(1); opacity: 1; }
}

#quiz-wrapper {
    display: none;
}

.progress {
    height: 25px;
    border-radius: 15px;
    overflow: hidden;
}

.progress-bar {
    background-color: green;
    transition: width 1s linear, background-color 1s linear;
}

#media-container img,
#media-container video,
#media-container audio {
    max-width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#learning-style-graph {
    max-width: 100%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    display: block;
    margin: 0 auto;
}


